.ant-menu-item > a {
  color: rgba(0, 0, 0, 0.85);
}

.ant-menu-item > a:before {
  position: absolute;
  background-color: transparent;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: "";
}

.menuItem > a {
  color: rgba(0, 0, 0, 0.85);
}
