@import "./../resource/default.less";
.container {
  display: flex;
  height: 100%;
  background: #f1f3f5;
  .nav-left {
    // width: 14.4444%;
    // width: 10.4444%;
    // min-width: 180px;
    height: calc(100vh);
    background-color: #001529;
    position: relative;
    .logoMenu:before {
      display: block;
    }
    .logo {
      line-height: 90px;
      padding-left: 20px;
      background: #002140;
      height: 70px;

      h1 {
        color: #fff;
        font-size: 20px;
        margin: 0 0 0 12px;
        font-weight: 600;
        display: inline-block;
        vertical-align: middle;
      }

      img {
        height: 35px;
        vertical-align: middle;
        border-style: none;
      }
    }
    .logo:after {
      display: "";
    }
  }

  .main {
    height: calc(100vh);
    flex: 1;
    overflow: auto;
    // background-color: @colorL;
  }

  .content {
    position: relative;
    padding: 20px;
    // height: calc(70%);
  }
}
